.coursestext{
    
}

.webtextcourses{
    /* padding: 2rem 1rem; */
    display: flex;

}
.coursetextcourse{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    border-radius: 2rem;
    width: 26rem;
    background: rgb(218, 218, 218);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
}
.textcontainer{
    padding: 14px 0px;
    
}
.coursetextcourse:hover{
    background-color: rgba(128, 128, 128, 0.543);
}
.coursetextcourse:first-child{
    background: black;
    color: white;
}

.cardscontainer{
    height: 400px;
    display: flex;
    grid-template-columns: 20.7rem 20.7rem 20.7rem 20.7rem;
    overflow-x: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    
}
.cards{
    height: 310px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5rem;
}
.cards>img{
    width: 300px;
    border-radius: 10px;
}
.card1text{
    padding-left: 10px;
}
.card1text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 10px;
    line-height: 1.5rem;
    padding-bottom: 20px;
}
.card1text>.i{
    color: rgb(180,105,14);
}
.showtext{
    margin-top: 1rem;
    border: 2px solid v;
    padding: 20px;
    border: 1px solid black;
    width: 20rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.popup1{
    height: 450px;
    width: 320px;
    margin-top: -470px;
    margin-left: 340px;
    background-color: white;
    box-shadow: 2px 2px 10px grey;
    position: relative;
}
.popup1>ol{
    height: 83%;
    list-style-type: none;
    padding: 20px;
    
}
.popup1>ol>li{
    padding: 5px;

}
.popup1>ol>li>h1{
    font-family: Arial, Helvetica, sans-serif;

}

.popup1>div{
    height: 17%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.popup1>div>button{
    height: 70%;
    width: 60%;
    background-color: blueviolet;
    font-weight: bolder;
    color: white;
    border: none;
}
.popup1>div>div{
    height:50px;
    width: 50px;
    border: 1px solid;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;

}
 




















/* Media Queries */
@media (max-width: 376px ) {
    .coursestext {
        height: 1000px;
        width: 1330px;
        /* background-color: red; */
    }
    .webtextcourses {
        height: 200px;
        width: 1330px;
        /* background-color: aqua; */
        

    }
    .coursetextcourse {
        height: 110px;
        width: 300px;
        overflow-x: hidden;
        /* background-color: yellow; */
    }
    .textcontainer{
        width: 5000px;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
    }
    .cardscontainer {
        height: 500px;
        margin-top: 10px;

    }
    .cards {
        /* overflow-x: scroll; */
        height: 400px;
        width: 310px;
    }
    .jsimg {
        height: 50%;
        width: 100%;

    }
    .showtext {
        margin-top: 30px;
        
    }

}
@media (max-width: 1025px) and (min-width: 1023px) {
    .coursestext {
        height: 800px;
        width: 100vw;
        margin-left: -100px;
    }
    .webtextcourses {
        height: 200px;
        width: 100vw;
        /* background-color: aqua; */
        overflow-x: hidden;
        

    }
    .coursetextcourse {
        height: 80px;
        width: 150px;
        
    }
    .textcontainer{
        width: 5000px;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardscontainer {
        height: 400px;
        /* overflow-x: hidden; */
        margin-left: 20px;

    }
    .cards {
        height: 310px;
        width: 400px;
    }
    .showtext {
        margin-top: -10px;
        margin-left: 20px;
        
    }
    .jsimg {
        height: 120px;
    }

}